#content-wrap{
    display: none;
}

.msg{
    padding-top: 10px;
    padding-left: 10px;

}

.msg b{
    padding-top: 10px;
}

.fondo{
    background-image: url(https://us.123rf.com/450wm/naropano/naropano1606/naropano160600523/58727542-textura-de-fondo-oscuro-en-blanco-para-el-dise%C3%B1o-bordes-oscuros.jpg);
}